[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/cmake-portable-endian"]
	path = 3rdparty/cmake-portable-endian
	url = https://github.com/blizzard4591/cmake-portable-endian.git
